@import '_vars.sass';

.Toolbar {
    padding-bottom: 1vmin;
}

.Toolbar .Solved {
    float: right;
}

.Toolbar .Insoluble {
    color: red;
    float: right;
    margin-right: 1em;
}

.Toolbar input,
.Toolbar button {
    margin-right: 1em;
}
